html {
  height: 100%;
}
body {
  background: #E2E4E7;
  padding: 0;
  text-align: center;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

a {text-decoration: none;}

.wrapper {
 height: 100% !important;
 margin: 0 auto; 
 overflow: hidden;
}

.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}

.main section .page_container {
  position: relative;
  top: 25%;
  margin: 0 auto 0;
  max-width: 950px;
  z-index: 3;
}
.main section  {
  overflow: hidden;
}

.main section > img {
  position: absolute;
  max-width: 100%;
  z-index: 1;
}

/*Section 1*/
.main section.page1 {
  background:rgb(230, 217, 200);
}
.main section.page1 .page_container > .text_container {
  width: 600px;
}
.main section.page1 h1 {
  text-align: left;
  padding: 0;
  margin-bottom: 15px;
  color: black;
}

/*Section 2*/


/*Section 3*/
.main section.page3 {
  color: white;
  background-image: url("bg/scenic.jpg") !important;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}