html {
  height: 100%;
}
body {
  background: #E2E4E7;
  padding: 0;
  text-align: center;
  font-family: 'open sans';
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
 height: 100% !important;
 height: 100%;
 margin: 0 auto; 
 overflow: hidden;
}

a {
  text-decoration: none;
}